<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">主页</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">关于</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">联系</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2::52" alt="9739568" title="9739568"/></a></li>
      <li class="social-items"><a href="https://twitter.com/{{site.twitter}}" class="social-links"><i class="social-icons fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://plus.google.com/{{site.google-plus}}" class="social-links"><i class="social-icons fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://github.com/{{site.github}}" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
